body{
  background-color: #6495ed;
  text-align: center;
  font-family: helvetica,Arial;
  color:white;
}



#wrapper{
  background-color: #000365;
  width: 500px;
  border-radius: 10px;
  margin-left: 350px;
  margin-top: 75px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;

}

#task{
  width: 320px;
  height: 25px;
  margin-left: 40px;
  border-color: black;
  font-size: 20px;
}

#add{
  height: 36px;
  background-color: red;
  cursor: pointer;
  border-color: black;
  color: white;
  padding-top: 5px;
}

.remove{
  background-color: #f2f205;
  float:right;
  border-style: none;
}

ul{
  list-style: none;
  text-align: left;
  margin-left: 20px;
  margin-right: 48px;

}

#task{
  width: 320px;
  height: 30px;
  margin-left: 17px;
}

h1{
  color: white;
}
